<div class="show__question">
    <%=  gravatar_for(@question.user)%>
    <div class="show__question_title">
        <%= @question.title  %>
    </div>
    <div class="show__question_content">
        <%= @question.content%>
    </div>
    <hr>
        <div class="show__answer">
        <% if !@question.answers.nil?%>
        <h1>Answer</h1>
        <%@question.answers.each do |answer| %>
        <ul>
            <li><%= answer.content%></li>
        </ul>
        <% end%>
        <% end %>
    </div>
    <hr>
    <div class="show__reply">
        <%= form_with(url: question_answers_path(@question), local: true) do |f| %>
        <%= f.text_area :content, size: '60x12'%>
        <div class="button">
            <%= f.submit '回答する', class: 'btn btn-primary'%>
        </div>
        <% end %>
    </div>

</div>